
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: lightseagreen;
}

.bio{

text-align: center;
border: 2px solid rgb(94, 236, 87);
margin: 0 630px;
border-top: 0 ;
border-left: 0;
border-right: 0;
margin-top: 40px;
transition: 0.3s ease;
color: #b5f06d;
}
img{
margin-top: 20px;
width: 150px;
height: 150px;
display: flex;
margin-left: 1100px;
border: 1px dotted black;
}
.main_div{
color: #646361;
padding-left: 200px;
letter-spacing: 1.5px;
font-weight: 600;
}
.main_div span{

color: hsl(320, 93%, 48%);
}
.education h2{

color: blue;
padding-left: 200px;
}
.education table,th,td{

width: 70px;
border: 1px solid #b5f06d;
border-collapse: collapse;
padding: 30px;
color: #ff6600;
}
.education table{

margin-left: 200px;
}

.end{

    color: #646361;
    padding-left: 200px;
    letter-spacing: 1.5px;
}
.end span{

    color: #ff6600;
}
.date{

    padding-left: 200px;
    color: red;
}
.sign{

    text-align: right;
    margin-right: 140px ;
}
.border{

    text-align: right;
    margin-right: 90px;
    color: red;
}